@model AdminUI.Models.RoleEditViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ok-body">
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form" id="formData">
		<input type="hidden" value="@Model.Role.Id" name="roleId" />
        <div class="layui-form-item">
            <label class="layui-form-label">角色名</label>
            <div class="layui-input-block">
                <input type="text" name="name" placeholder="请输入角色名" autocomplete="off" class="layui-input"
                    value="@Model.Role.Name"   lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限项</label>
            <div class="layui-input-block">
                @foreach (var item in Model.AllPermissions)
                {
                        <input type="checkbox" name="Permissions" title="@item.Description" value="@item.Id" id="Permissions_@item.Id" checked="@Model.RolePermissions.Select(e=>e.Id).Contains(item.Id)" />

                }
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <script type="text/javascript">
		
	layui.use(["element", "form", "tree", "okLayer", "okUtils","jquery"], function () {
		let form = layui.form;
		let tree = layui.tree;
		let okLayer = layui.okLayer;
		let okUtils = layui.okUtils;
		let $ = layui.jquery;
		okLoading.close();
		let data = [{
			"title": "根目录",
			"spread": true,
			"children": [{
				"title": "会员管理",
				"spread": true,
				"children": [{
					"title": "用户管理",
					"spread": true,
					"children": [{"title": "添加用户"}, {"title": "编辑用户"}, {"title": "删除用户"}]
				}, {
					"title": "角色管理",
					"spread": true,
					"children": [{"title": "添加角色"}, {"title": "编辑角色"}, {"title": "删除角色"}]
				}, {
					"title": "权限管理",
					"spread": true,
					"children": [{"title": "添加权限"}, {"title": "编辑权限"}, {"title": "删除权限"}]
				}]
			}]
		}];

		tree.render({
			elem: "#permissionTree",
			// data: okUtils.mockApi.permission.list,
			//data: data,
			showCheckbox: true
		});

		form.on("submit(add)", function (data) {
			// TODO 权限节点校验
			var formData = $("#formData").serializeArray();
			// 请求后台
			okUtils.ajax("/Role/Edit", "post", formData, true).done(function (response) {
				console.log(response);
				okLayer.greenTickMsg("修改成功", function () {
					parent.layer.close(parent.layer.getFrameIndex(window.name));
				});
			}).fail(function (error) {
				console.log(error)
			});
			return false;
		});
	})
    </script>
}