@model AdminUI.Models.HouseAddViewModel
@{
    ViewBag.Title = "AddAdminUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ok-body">
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form" id="formData">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">区域</label>
                <div class="layui-input-inline">
                    @Html.DropDownList("RegionId", new SelectList(Model.Regions, "Id", "Name"),new { lay_filter = "filter" })
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">小区</label>
                <div class="layui-input-inline">
                    <select id="communityId" name="CommunityId" lay-filter="communitySelect"></select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">房型</label>
                <div class="layui-input-inline">
                    @Html.DropDownList("RoomTypeId", new SelectList(Model.RoomTypes, "Id", "Name"))
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">地址</label>
                <div class="layui-input-inline">
                    <input type="text" name="Address" placeholder="请输入地址" autocomplete="off" class="layui-input"
                           lay-verify="required">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">租金</label>
                <div class="layui-input-inline">
                    <input type="text" name="MonthRent" placeholder="请输入租金" autocomplete="off" class="layui-input"
                           lay-verify="required">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">状态:</label>
                <div class="layui-input-inline">
                    @Html.DropDownList("StatusId", new SelectList(Model.Statuses, "Id", "Name"))
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">面积</label>
                <div class="layui-input-inline">
                    <input type="text" name="Area" placeholder="请输入面积" autocomplete="off" class="layui-input"
                           lay-verify="required">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">装修</label>
                <div class="layui-input-inline">
                    @Html.DropDownList("DecorateStatusId", new SelectList(Model.DecorateStatuses, "Id", "Name"))
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">层数</label>
                <div class="layui-input-inline">
                    <input type="text" name="FloorIndex" placeholder="请输入层数" autocomplete="off" class="layui-input"
                           lay-verify="required">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">朝向:</label>
                <div class="layui-input-inline">
                    <input type="text" name="Direction" placeholder="请输入房间朝向" autocomplete="off" class="layui-input"
                           lay-verify="required">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">可看房时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="LookableDateTime" id="lookdate" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">入住时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="CheckInDateTime" id="indate" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">业主姓名:</label>
                <div class="layui-input-inline">
                    <input type="text" name="OwnerName" placeholder="请输入业主姓名" autocomplete="off" class="layui-input"
                           lay-verify="required">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">业主电话:</label>
                <div class="layui-input-inline">
                    <input type="text" name="OwnerPhoneNum" placeholder="请输入业主电话" autocomplete="off" class="layui-input"
                           lay-verify="required|phone">
                </div>
             </div>
             <div class="layui-inline">
                    <label class="layui-form-label">房屋类型</label>
                    <div class="layui-input-inline">
                        @Html.DropDownList("TypeId", new SelectList(Model.Types, "Id", "Name"))
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">房源描述</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" name="Description" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">配套设施</label>
                <div class="layui-input-block">
                    @foreach (var item in Model.Attachments)
                    {
                        <input type="checkbox"  name="attachmentIds" title="@item.Name" value="@item.Id" id="Attachments_@item.Id" />
                    }
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
</form>
</div>

@section Scripts{
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>

        layui.use(["element", "form", "laydate", "okLayer", "okUtils", "jquery"], function () {
            let form = layui.form;
            let laydate = layui.laydate;
            let okLayer = layui.okLayer;
            let okUtils = layui.okUtils;

            let $ = layui.jquery;
            var regionData = function (data) {
                //(function () {
                $.ajax({
                    url: "/House/LoadCommunities", dataType: "json", type: "post",
                    data: { regionId: data.value },
                    success: function (res) {
                        if (res.code == 0) {
                            $("#communityId").empty();
                            for (var i = 0; i < res.count; i++) {
                                var item = res.data[i];
                                console.log(item);
                                $("<option value='" + item.id + "'>" + item.name + "</option>")
                                    .appendTo($("#communityId"));
                                form.render();
                            }
                        }
                    },
                    error: function () {
                        alert("加载小区出错");
                    }
                })

            };

            form.on('select(filter)', regionData);
            form.render('select');
            okLoading.close();
            laydate.render({ elem: "#birthday", type: "datetime" });
            laydate.render(
                {
                    elem: '#lookdate'
                });
            laydate.render(
                {
                    elem: '#indate'
                });
            form.verify({
                phone: [
                    /^[1][0-9]{10}$/,
                    '输入的手机号格式不正确，请重新输入'
                ],
            });
            form.on("submit(add)", function (data) {
                var formData = $("#formData").serializeArray();
                console.log(formData);
                okUtils.ajax("/House/AddHouse", "post", formData, true).done(function (response) {
                    console.log(response);
                    okLayer.greenTickMsg("添加成功", function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                }).fail(function (error) {
                    console.log(error)
                });
                return false;
            });
        });
    </script>
}